/* app.css */

.bg-primary {
  background: var(--background-color);
}

.bg-secondary {
  background: var(--box-background);
}

.bg-accent {
  background: var(--carousel-background);
}

.text-accent {
  color: var(--text-color-heading);
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: var(--link-hover-color);
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* hero */
h1 {
  font-family: 'Pacifico', cursive;
  line-height: 1.5 !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
