/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-background: #ffffff;
  --header-text-color: #000000;
}

[data-theme="dark"] {
  --header-background: #181818;
  --header-text-color: #ffffff;
}

header {
  background-color: var(--header-background);
  color: var(--header-text-color);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
